{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid p-4 mt-6">
  <h2 class="macart-font text-center">Contact <span class="text-orange">us</span></h2>
  <hr class="w-50 mb-1">

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="col text-center mt-3 p-4">
        <h3 class="uppercase">Send us a message</h3>
        <form method="post" action=".">
          {% csrf_token %}

          {{ form.as_p }}
          <button class="macart-font macart-button btn btn-sm">Submit</button>

        </form>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="p-4">
        <h3 class="uppercase">Location</h3>
        <p>All our photographs are printed in Ireland and shipped from our gallery,<br>
           in Birr, County Offaly. <br>
          <span class="text-muted ">Visits by appointment only.</span></p>
          <strong>Oxmantown Mall, <br>
            Townparks, Birr, <br>
            Co. Offaly</strong>
            <div>
              <iframe class="googlemaps"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1148.7900564194492!2d-7.901073208063146!3d53.107522318232036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485cf8284e279431%3A0xa00c7a99731e1e0!2sTownparks%2C%20Birr%2C%20Co.%20Offaly!5e0!3m2!1sen!2sie!4v1697211615301!5m2!1sen!2sie"
                 style="border:0;" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
      </div>
    </div>
  </div>
</div>



  {% endblock %}