{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Hero section -->
    <div class="container h-100">
        <div class="row h-100">
            <div class="pl-0 col-md-6 my-auto">
            <div class="bg-black-80pc">
                <h1 class="display-4 macart-font text-white">
                    Fine <span class="text-orange">Art </span></br>Photos
                </h1>
            </div>
                <div class="my-3">
                    <h4>
                        <a href="" class="macart-font shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Browse our gallery</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}