{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">

    <div class="row justify-content-center py-3">
        <div class="col-md-6 text-center mt-3">
            <!-- Artist Image -->
            <img src="{{ artist.artist_image.url }}" alt="{{ artist.name }}"
                class="card-img-top img-fluid artist-photo" />
            <!-- Artist Name -->
            <div class="py-3">
                <h2 class="macart-font">{{ artist.name }}</h2>
            </div>
            <!-- Artist Bio -->
            <div class="px-5">
                <hr class="w-50 mb-1" />
                <p>{{ artist.bio }}</p>
                <hr class="w-50 mb-1" />
            </div>
        </div>
    </div>


    <div class="row justify-content-center py-3">
        <div class="col-md-6 text-center mt-3 bg-yellow">
            <h4>
                <a href="{% url 'artists' %}" class="macart-font shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Know our Artists</a>
            </h4>

        </div>
        <div class="col-md-6 text-center mt-3 bg-red">
            <h4>
                <a href="{% url 'products' %}" class="macart-font shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Browse our gallery</a>
            </h4>
        </div>

    </div>

</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}