{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">
      <h2 class="macart-font">Questions And Answers</h2>
      <hr class="w-50 mb-1" />
    </div>
  </div>

  <!-- FAQ card -->
  <div class="row">
    {% for faq in faqs %}
    <div class="fqa_list col-12 col-md-6 text-center">
      <p>
        <a class=".faq-question" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <h3>{{ faq.question }}</h3>
        </a>
      </p>

      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <p>{{ faq.answer }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    {% endblock %}