<!--Footer-->
<div class="pt-0 pt-lg-3 container-fluid footer">

    <div class="row footer-top px-3 text-md-left">
        <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
            <h4 class="macart-font">Links</h4>
            <nav class="nav flex-column">
                <a class="nav-link footer-link py-1" href="{% url 'home' %}#about">About</a>
                <a class="nav-link footer-link py-1" href=" ">FAQ</a>
                <a class="nav-link footer-link py-1" href=" ">Artists</a>
                <a class="nav-link footer-link py-1" href="{% url 'products' %}">Gallery</a>
                <a class="nav-link footer-link py-1" href="{% url 'contact' %}">Contact</a>
            </nav>
        </div>
        <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
            <h4 class="macart-font">Newsletter</h4>
            
            <!-- Mail chimp -->
            <div id="mc_embed_shell" class="text-center px-5">
                <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                  #mc_embed_signup{false;clear:left; font:14px Helvetica,Arial,sans-serif;}
                  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
              <form action="https://gmail.us21.list-manage.com/subscribe/post?u=387e7d1fc9d80ae5e21fe5b21&amp;id=b36c7c33f9&amp;f_id=0098e5e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
                  <div id="mc_embed_signup_scroll">
                      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                      <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                  <div id="mce-responses" class="clear foot">
                      <div class="response" id="mce-error-response" style="display: none;"></div>
                      <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
              <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                  <input type="text" name="b_387e7d1fc9d80ae5e21fe5b21_b36c7c33f9" tabindex="-1" value="">
              </div>
                  <div class="optionalParent">
                      <div class="clear foot">
                          <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="macart-button" value="Subscribe">
                          <p style="margin: 0px auto;"><a href="http://eepurl.com/iBK0Kg" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="d-none refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                      </div>
                  </div>
              </div>
          </form>
          </div>
          </div>
<!-- End of mail chimp-->

        </div>

        <div class="col-12 col-md-4 text-center text-md-left">
            <h4 class="macart-font mb-3">Contact&nbsp;info</h4>
            <p><i class="fas fa-map-marker-alt mr-3 text-orange"></i>
                Oxmantown Mall,<br>
                Townparks, Birr,<br>
                Co. Offaly</span></p>
            <p><i class="fas fa-phone-alt mr-3 text-orange"></i><a href="tel:+1234567890" class="email-phone-link">
                    +123 45 678 90</a></p>
            <p><i class="fas fa-envelope mr-3 text-orange"></i><a href="mailto:macart@exemple.com?subject=MacArt"
                    class="email-phone-link">
                    macart@exemple.com</a></p>
        </div>
    </div>
</div>
 <!--Bottom main footer-->
 <div class="row main-footer py-3 py-lg-2">
    <div class="col-12 container text-center">
        <!-- Social icons -->
        <a href="https://github.com/" target="_blank" rel="noopener" class="icon-footer">
            <i class="fab fa-github media-icons" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" rel="noopener" class="icon-footer">
            <i class="fab fa-linkedin-in media-icons" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="icon-footer">
            <i class="fab fa-instagram media-icons" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener" class="icon-footer">
            <i class="fab fa-facebook media-icons" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-12 text-center">
        <!-- Copyright -->
        <small> For educational purposes only | © 2023
            <a href="https://github.com/zemaciel/" target="_blank" class="author-link">José Maciel</a>
        </small>
    </div>
</div>